body {
    padding-top: 50px;
}

.carousel {
    height: 700px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 700px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.movie-info {
    padding: 50px 0px;
    text-align: justify;
}

.movie-info .source {
    font-style: italic;
}

.movie-info .title {
    color: red;
}

.quote-marks {
    font-size: 90px;
    font-family: Garamond;
    color: #777;
}

.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-image{
    max-width: 100%;
}

.developer {
    padding-top: 50px;
    text-align: center;
}

.developer img {
    max-width: 40%;
    border-radius: 50%;
}

.sponsor {
    padding-top: 50px;
    text-align: center;
}

