.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

body {
	font-family: "Verdana";
}

.title {
	display: block;
	padding: 0;
	margin: 0;
}

.subtitle {
	display: block;
    text-align: center;
    font-size: 20px;
}

a {
	color: #6495ED;
}

.home-content img {
	padding: 20px 0;
}

.home-content img {
	width: 33%;
}

.movie-title {
	margin: 10px 0;
	display: block;
	background-color: #999;
	min-height: 65px;
	font-size: 20px;
}

.movie-title h4 {
	text-align: center;
	padding-top: 20px;
	margin: 0px;
	font-weight: bold;
}

.news-feed .callout {
	margin: 40px 30%;
	padding: 0px auto;
    text-align: justify;
    border: solid;
    border-width: 1px;
    padding: 5px;
}

.news-feed .callout img {
	width: 100%;
}

.news-title {
	font-weight: bold;
	font-size: 25px;
}

.movie_grid {
	padding-top: 20px;
}

.movie_grid img {
	display: inline-block;
	max-width: 33%;
}

.source {
    font-style: italic;
}

.developers img {
	width: 250px;
}
